<fieldset>
    <table border="0" class="form-table-1">
        <tr>
            <td><label for="dateOther">Date</label></td>
            <td><input type="date" name="dateOther"></td>
            <td><label for="txtDesc">Description</label></td>
            <td><input type="text" name="txtDesc"></td>
            <td><label for="txtPrice">Price</label></td>
            <td><input type="text" name="txtPrice"></td>
            <td><label for="txtPcs">Price</label></td>
            <td><input type="text" name="txtPcs"></td>
            <td><input type="file" name="attachedfile" allow="image/*"></td>
        </tr>
    </table>
</fieldset>
