<fieldset>
    <table border="0" class="form-table-1">
        <tr>
            <td><label>Date</label></td>
            <td><input ng-model="otherExpense.purchaseDate" type="date" name="purchaseDate"></td>
            <td><label>Description</label></td>
            <td><input ng-model="otherExpense.description" type="text" name="description"></td>
            <td><label>Price</label></td>
            <td><input ng-model="otherExpense.price" type="text" name="price"></td>
            <td><label>Amount</label></td>
            <td><input ng-model="otherExpense.amount" type="text" name="amount"></td>
            <td><input ng-model="otherExpense.attachedFile" type="file" name="attachedFile" allow="image/*"></td>
        </tr>
    </table>
</fieldset>
