<fieldset>
    <table border="0" class="form-table-1">
        <tr>
            <td><label for="destinationText">Destination</label></td>
            <td colspan="5"><input type="text" name="destinationText"></td>
        </tr>
        <tr>
            <td><label for="leaveDate">Leave date</label></td>
            <td><input ng-model="travelExpense.leaveDate" type="date" name="leaveDate"></td>
            <td><label for="returnDate">Return date</label></td>
            <td><input ng-model="travelExpense.returnDate" type="date" name="returnDate"></td>
            <td><label for="haldDayText">1/2 day</label></td>
            <td><input ng-model="travelExpense.halfDayText" type="text" name="halfDayText"></td>
        </tr>
        <tr>
            <td><label for="leaveTime">Leave time</label></td>
            <td><input ng-model="travelExpense.leaveTime" type="time" name="leaveTime"></td>
            <td><label for="returnTime">Return time</label></td>
            <td><input ng-model="travelExpense.returnTime" type="time" name="returnTime"></td>
            <td><label for="fullDayText">Full day</label></td>
            <td><input ng-model="travelExpense.fullDayText" type="text" name="fullDayText"></td>
        </tr>    
    </table>
</fieldset>