<fieldset>
    <table border="0" class="form-table-1">
        <tr>
            <td><label>Destination</label></td>
            <td colspan="5"><input ng-model="travelExpense.destination" type="text" name="destination"></td>
        </tr>
        <tr>
            <td><label>Leave date</label></td>
            <td><input ng-model="travelExpense.leaveDate" type="date" name="leaveDate"></td>
            <td><label>Return date</label></td>
            <td><input ng-model="travelExpense.returnDate" type="date" name="returnDate"></td>
            <td><label>1/2 day</label></td>
            <td><input ng-model="travelExpense.halfDay" type="text" name="halfDay"></td>
        </tr>
        <tr>
            <td><label>Leave time</label></td>
            <td><input ng-model="travelExpense.leaveTime" type="time" name="leaveTime"></td>
            <td><label>Return time</label></td>
            <td><input ng-model="travelExpense.returnTime" type="time" name="returnTime"></td>
            <td><label>Full day</label></td>
            <td><input ng-model="travelExpense.fullDay" type="text" name="fullDay"></td>
        </tr>    
    </table>
</fieldset>