<div class='main-container'>
    <div class='main-title'>
        <h2>Create new expense claim</h2>
        <p>All expense claims should be sent until 25th day so they will be included
        for the salary of the current month. Choose the right option for you and fill
        up the form. Save it for later modifying or send it for approval.</p>
    </div>
    <!-- The whole form-area starts here -->
    <div class='form-container'>
        <data-ng-form>
            <!-- Form for Travel Expense Finland -->
            <div id='travel-expense-finland' class='sub-form-container'>
                <input type="checkbox" ng-click="showFormTravelFin = !showFormTravelFin">
                <label>Travel expense Finland, daily allowances</label>
                <div data-ng-show="showFormTravelFin">

                    <div ng-repeat="i in travelFinCounter track by $index">
                        <data-ng-include data-ng-controller="TravelExpenseFinController" src="'./app/views/form-travel-finland.html'"></data-ng-include>
                        <button type="button" ng-click="showOther = !showOther">+ Add cost</button>
                        <div ng-show="showOther">
                            <data-ng-include data-ng-controller="OtheExpenseController" src="'./app/views/form-other.html'"></data-ng-include>
                        </div>
                    </div>
                    <a href="" ng-click="newTravelFinForm()">+ Add new row</a>
                    <a href="" ng-click="removeTravelFinForm()">- Delete row</a>
                </div>
            </div>
            <!-- Form for Travel Foreign Travel Expense -->
            <div id='travel-expense-foreign' class='sub-form-container'>
                <input type="checkbox" ng-click="showFormTravelFor = !showFormTravelFor">
                <label>Travel expense other country, daily allowances</label>
                <div data-ng-show="showFormTravelFor">

                    <div ng-repeat="i in travelForCounter track by $index">
                        <data-ng-include data-ng-controller="TravelExpenseForController" src="'./app/views/form-travel-foreign.html'"></data-ng-include>
                        <button type="button" ng-click="showOther = !showOther">+ Add cost</button>
                        <div ng-show="showOther">
                            <data-ng-include data-ng-controller="OtheExpenseController" src="'./app/views/form-other.html'"></data-ng-include>
                        </div>
                    </div>
                    <a href="" ng-click="newTravelForForm()">+ Add new row</a>
                    <a href="" ng-click="removeTravelForForm()">- Delete row</a>
                </div>
            </div>
        </data-ng-form>
    </div>
</div>